/* welcome css - xl 2.20 */
div.infolog {border-left: 3px #2D9145 solid; padding-left:20px; margin-right:200px;}
.return-to-setting {padding:0 0 25px;}
.about-footer img.about-icon {vertical-align: -9px;}
.about-footer a {text-decoration: none;}